*{
  font-family:Poppins ; 
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid rgb(127, 127, 177);
}

.btn{
  background-color: #F48220;
  color: white;
}

.navbar{
  font-size: large; 
  color: white;
  background-color: black;
  padding: 20px;

  justify-content: space-between;
  display: flex;
  align-items: center;
}

.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
  color: white;
  display: flex;
}

.right-side{
  padding: 80px 

}
.mobile-view{
  display: none;
}

.login-heading{
 font-size: 28px;
 font-weight: bold;
 justify-items: center;
}

.img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: auto;
}
.btn-login{
 width: 100%;
}

#forg{
  display: flex;
  justify-content: space-between;
}

p.new1 {
  border: 1px solid red;
  display: block;
}

.s-btn{
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  width: 202px;
  height: 42px;
}

.s-btn__facebook{
  background-color: white;
  border-radius: 25px;
  border: 1px solid black;
  width: 390px;
  height: 42px;
  text-align: center !important;
  margin-bottom: 10px;
margin-left: 48px;
}
@media screen and (max-width: 450px) {
  .navbar{
   background-color: black;
   width: 450px;
   height: 250px;
   background-position: center;   
  }

  .img{
    background-position: center;
  }

 .row{
  display: none;
 }
 .mobile-view{
  display: block !important ;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 20px ;
  height:700px ;
  border-radius: 30px 30px 0px 0px;
  background-color: white;
  }

  body{
    display: flex;
    background-color: black;   
  }
}
@media screen and (max-width: 600px) {
  .navbar{
   background-color: black;
   display: flex;
   width: 550px;
   height: 250px;
   background-position: center;
   z-index: -1;
   
  }
  .img{
    background-position: center;
    margin-left: 90px;
  }
  .row{
    display: none;
  }
  .mobile-view{
  display: block !important ;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 20px ;
  height:735px ;
  border-radius: 30px 30px 0px 0px;
  background-color: white;
  }

  body{
    display: flex;
    background-color: black;   
  }
}

